<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="bbs">

<insert id="insertBoard" parameterType="com.sp.bbs.Board">
	INSERT INTO bbs (num, name, pwd, subject, content, ipAddr) VALUES(
	bbs_seq.NEXTVAL, #{name},#{pwd},#{subject},#{content},#{ipAddr})
</insert>


<select id="listBoard" parameterType="com.sp.bbs.Board" resultType="com.sp.bbs.Board">
SELECT 
    NUM
    ,PAGE_NUM
    ,CONTENT
    ,SUBJECT
    ,CREATED
        FROM(SELECT
            NUM
            ,FLOOR ((ROWNUM -1) /5+1) AS PAGE_NUM 
            ,SUBJECT
            ,CONTENT
            ,IPADDR
            ,CREATED
            FROM(SELECT 
                 * 
                 FROM BBS
                 ORDER BY NUM DESC
                )T
            )TT
WHERE PAGE_NUM = 1 
</select>

</mapper>	